# P2: Titanic Classification

### Aufgabe 1

In [18]:
import pandas as pd
data = pd.read_csv("../data/titanic.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
features = ["Survived", "Pclass", "Age", "Fare", "SibSp", "Parch"]
data_features = data[features]
data_features.head()

   Survived  Pclass   Age     Fare  SibSp  Parch
0         0       3  22.0   7.2500      1      0
1         1       1  38.0  71.2833      1      0
2         1       3  26.0   7.9250      0      0
3         1       1  35.0  53.1000      1      0
4         0       3  35.0   8.0500      0      0

In [20]:
print(data_features.shape)
filtered_data = data_features.dropna()
print(filtered_data.shape)
filtered_data.head()

(891, 6)
(712, 8)

   Survived  Pclass   Age     Fare  SibSp  Parch     Sex Embarked
0         0       3  22.0   7.2500      1      0    male        S
1         1       1  38.0  71.2833      1      0  female        C
2         1       3  26.0   7.9250      0      0  female        S
3         1       1  35.0  53.1000      1      0  female        S
4         0       3  35.0   8.0500      0      0    male        S

### Aufgabe 2

In [21]:
features = filtered_data.drop("Survived", axis=1)
labels = filtered_data["Survived"]
features.head()

   Pclass   Age     Fare  SibSp  Parch     Sex Embarked
0       3  22.0   7.2500      1      0    male        S
1       1  38.0  71.2833      1      0  female        C
2       3  26.0   7.9250      0      0  female        S
3       1  35.0  53.1000      1      0  female        S
4       3  35.0   8.0500      0      0    male        S

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, random_state=0)
print("Trainingsdatenpunkte: " + str(len(X_train)))
print("Testdatenpunkte: " + str(len(X_test)))

Trainingsdatenpunkte: 569
Testdatenpunkte: 143

In [23]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(max_iter=1000) # Gradient Descent mit max. 1000 Schritten
logisticRegr.fit(X_train, y_train)

ValueError: could not convert string to float: 'male'

In [ ]:
predictions = logisticRegr.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

In [ ]:
from sklearn.metrics import precision_score
precision_score(y_test, predictions)

In [ ]:
from sklearn.metrics import recall_score
recall_score(y_test, predictions)

### Aufgabe 3

In [ ]:
features = ["Survived", "Pclass", "Age", "Fare", "SibSp", "Parch", "Sex", "Embarked"]
filtered_data = data[features].dropna()
print("Shape:", filtered_data.shape)

Mit Gender-Feature:

In [ ]:
gender_data = filtered_data.copy()
gender_data["Female"] = gender_data["Sex"] == "female"
gender_data.head(3)

In [ ]:
features = gender_data.drop(["Survived", "Sex", "Embarked"], axis=1)
labels = gender_data["Survived"]

X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, random_state=0)

logisticRegr = LogisticRegression(max_iter=1000) # Gradient Descent mit max. 1000 Schritten
logisticRegr.fit(X_train, y_train)

predictions = logisticRegr.predict(X_test)
print("Accuracy:", accuracy_score(y_test, predictions))
print("Precision:", precision_score(y_test, predictions))
print("Recall:", recall_score(y_test, predictions))

Mit Gender-Feature und Embarked-Feature:

In [ ]:
embarked_data = gender_data.copy()
embarked_data["Embarked_C"] = embarked_data["Embarked"] == "C"
embarked_data["Embarked_Q"] = embarked_data["Embarked"] == "Q"
embarked_data["Embarked_S"] = embarked_data["Embarked"] == "S"
embarked_data.head(3)

In [ ]:
features = embarked_data.drop(["Survived", "Sex", "Embarked"], axis=1)
labels = embarked_data["Survived"]
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, random_state=0)

logisticRegr = LogisticRegression(max_iter=1000) # Gradient Descent mit max. 1000 Schritten
logisticRegr.fit(X_train, y_train)

predictions = logisticRegr.predict(X_test)
print("Accuracy:", accuracy_score(y_test, predictions))
print("Precision:", precision_score(y_test, predictions))
print("Recall:", recall_score(y_test, predictions))

Wir sehen, dass das `Embarked`-Feature keine zusätzliche Verbesserung bringt.

### Bonus

In [ ]:
print(logisticRegr.coef_[0])
print(X_train.columns)

In [ ]:
for feature, weight in zip(X_train.columns, logisticRegr.coef_[0]):
    print(feature, weight)

Je kleiner der Wert des absoluten Gewichts, desto unwichtiger ist das Feature und umgekehrt. Daher ist `Fare` das unbedeutenste Feature und `Female` das wichtigste Feature.